<main>
  <section>
    <h2>
      User Summary: <%= @user.username %>
    </h2>
  
  </section>
  <section>
   <%= link_to "Back to media ranks", root_path %>
   <%= link_to "See all users", users_path%>
  </section>
</main>
